<a href="https://colab.research.google.com/github/rodreras/geopy_minicurso/blob/main/notebooks/PythonGeo_Intro_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introdução ao Python

Agora, vamos começar com introdução de alguns conceitos, funções e sintaxes da linguagem Python. 

Esses conceitos são bem importantes e a base de tudo, por isso, **preste bastante atenção**. 

Lógico que você poderá voltar e rever tais conceitos, uma vez que tudo ficará disponível. 

### Se tiver dúvidas, não deixe perguntas para depois!

Quanto antes tirar suas dúvidas, menos coisas ficarão acumuladas.

In [ ]:
# Por tradição, o primeiro código deve ser sempre um Hello World!
# Já está tudo configurado para você inserir "Olá mundo" dentro das aspas na linha de código abaixo.
# Faça isso e depois aperte CTRL + Enter
print('hello world')

hello world

## 1. Operações Matemáticas com Python

- Uma linguagem de programação nos permite fazer N coisas. Uma delas, é fazer somas, divisões, multiplicações, de forma bem simples e fácil.

- Vamos ver uns exemplos:

In [ ]:
# soma

2 + 5

7

In [ ]:
#subtração

485 - 50

435

In [ ]:
#multiplicação

#desafio: como você acha que deveria ser a multiplicação?

#luiz 
#5 . 3

#cynthia victor
2 * 2

4

In [ ]:
# e a divisão?
16/4

4.0

Vamos fazer umas operações mais complicadas.

Primeiro, vamos definir uma variável chamada `total`, e em seguida, realizar algumas operações.

In [ ]:
total = 20 + 45 + 65 + 89 + 41
print(total)

260

In [ ]:
# agora, vamos dividir esse total por 4

divisao = total / 4

display(divisao)

43.333333333333336

In [ ]:
print(f' o valor da divisão é {divisao}.')

 o valor da divisão é 65.0.

In [ ]:
#então, vamos elevá-lo à raíz quadrada

sq = divisao**2

sq

4225.0

In [ ]:
#por último, vamos dividir por pi (3.14159265359)

pi = 3.14159265359
div_pi = sq / pi

div_pi

1344.859269126427

In [ ]:
#agora, arredondar com 2 casas decimais
arredondado = round(div_pi, 2)
arredondado

1344.86

In [ ]:
#uma coisa que poderia fazer também, é dividir por pi, e pedir um resultado com resto zero, ou seja, sem decimais.

resto_zero = sq % pi

# vou pedir para colocar o resultado real, e só com dois decimais
resto_zero, round(resto_zero,2)

(2.6994735750399173, 2.7)

## 2. Tipos de Dados e Identificadores

Na linguagem de programação Python, existem diversas formas de representar os dados, tanto numéricos como não numéricos.

### Números 
Quando estamos programando, os números possuem características diferentes, um pouco semelhante com o que vimos em matemática no ensino médio (números reais, números naturais...)

- Chamamos de **interger (int)** todo número inteiro, sem casas decimais.
  - 5
  - 13
  - 2022
  - 1998
  - 645258

- Já os números com casas decimais, são denominados de **float**.
  - 0.15
  - 1.25
  - 3.14159265359
  - 0.3333333334
  - 548.46865168768

  > PS: necessariamente o separador decimal sempre será `.`, e não uma vírgula, como estamos acostumados.

  ### Palavras, Letras, entre outros

  As palavras, letras, textos, e qualquer outra coisa que apareça entre `"aspas"`, é denominada **string**.
  - `"granito"`
  - `"petroleo"`
  - `"hidrogeologia"`
  - `"sobe morro cata pedra"`

  E por mais contra intuitivo que pareça, strings também podem receber valores de números. **PORÉM**, não é possível somá-los, uma vez que serão identificados como **strings** e não **float** ou **int**.

  Como exemplo, crie uma variável chamada `amostra` e dê a ela o nome de uma rocha.
  Em seguida, retorne `amostra` para ver o resultado.

In [ ]:
amostra = 'itabirito'
caracteristica = 'friável'

#função para mostrar o resultado se chama print()

print(amostra, caracteristica)

itabirito friável

In [ ]:
print(amostra + ' ' + caracteristica)

itabirito friável

In [ ]:
numero_string = '200'
outra_string = '100'
numero_int = 50

print(numero_string + numero_int)

TypeError: ignored

In [ ]:
#vamos ver o resultado de formas diferentes.

#printando a soma dos dois números
print(numero_string + outra_string)

#printando separadamente uma string e um int.
print(numero_string, numero_int)

200100
200 50

3. Dados Booleanos


Os dados booleanos são um tipo de dado lógico que pode ter apenas um de dois valores possíveis: **verdadeiro ou falso**

Geralmente, são utilizados em comparações ou então em estruturas de repetição - que veremos logo mais.

In [ ]:
#deve retornar Verdadeiro
13 < 20

True

In [ ]:
A = 365
B = 30

print('A é maior que B?')
print(A > B)

print('A é menor que B?')
print(A < B)

print('A é diferente de B?')
print(A != B)

print('A é igual a B?')
print( A == B)

A é maior que B?
True
A é menor que B?
False
A é diferente de B?
True
A é igual a B?
False

## 4. Listas

Listas são conjuntos de dados que se encontram entre colchetes `[]`, e são separados por vírgula.

Quando criamos uma variável chamada `TempoGeologico`, e colocamos as Eras geológicas separadas por vírgulas, temos assim, uma lista.

Uma lista pode conter strings e/ou floats.

In [ ]:
TempoGeologico = ['Hadeano', 'Arqueano', 'Proterozóico']

In [ ]:
#printando a lista
print(TempoGeologico)

['Hadeano', 'Arqueano', 'Proterozóico']

As vezes, é preciso adicionar mais informações à sua lista. Neste caso, ainda faltam algumas Eras. Para isso, utilizaremos a função `append()`.

In [ ]:
TempoGeologico.append('Paleozóico')
TempoGeologico

['Hadeano', 'Arqueano', 'Proterozóico', 'Paleozóico']

In [ ]:
#se quisermos adicionar mais de um item, basta usar a função extend
TempoGeologico.extend(['Mesozóico','Cenozóico'])
TempoGeologico

['Hadeano', 'Arqueano', 'Proterozóico', 'Paleozóico', 'Mesozóico', 'Cenozóico']

In [ ]:
#para verificar quantos registros tem em uma lista, basta aplicar a função len
len(TempoGeologico)

6

Dependendo do objetivo da sua consulta, as vezes você precisa fazer um fatiamento de uma lista. Dessa forma, é possível acessar um valor ou um conjunto de valores da lista.

> Vale lembrar que a contagem dos items em Python sempre começa com 0. Logo, o primeiro item de listas, dicionários, dataframes sempre será índice 0, não o número 1.

In [ ]:
#escolhendo todos os elementos da lista
TempoGeologico[:]

['Hadeano', 'Arqueano', 'Proterozóico', 'Paleozóico', 'Mesozóico', 'Cenozóico']

In [ ]:
#pegando o primeiro item da lista
TempoGeologico[0]

'Hadeano'

In [ ]:
#os quatro primeiros items da lista
TempoGeologico[:4]

['Hadeano', 'Arqueano', 'Proterozóico', 'Paleozóico']

In [ ]:
#selecionando elementos na lista de 3 em 3
TempoGeologico[::3]

['Hadeano', 'Paleozóico']

In [ ]:
#1 - Desafio: como selecionar apenas os items 4 e 5 de uma lista?
TempoGeologico[4:]

# 2 - Desafio: Como pegar exatamente o último valor de uma lista 
#que você não sabe o tamanho dela?
TempoGeologico[-1]

['Mesozóico']

Removendo elementos de uma lista...

In [ ]:
#Vamos supor que você adicione um item errado e queira remover.

TempoGeologico.append('quartzo')

#uma forma diferente de retornar todos valores da lista
for i in TempoGeologico:
  print(i)

Hadeano
Arqueano
Proterozóico
Paleozóico
Mesozóico
Cenozóico
quartzo
quartzo
quartzo

In [ ]:
# para remover, basta usar a função remove()
TempoGeologico.remove('quartzo')

In [ ]:
TempoGeologico

['Hadeano', 'Arqueano', 'Proterozóico', 'Paleozóico', 'Mesozóico', 'Cenozóico']

**Listas também podem ter valores numéricos.** 
Veja o exemplo a seguir de concentração de Cobre no solo em ppm.

In [ ]:
cu_ppm = [92.82, 58.90,
          170.05, 187.29,
          136.55, 141.76,
          38.21, 69.65,
          160.10, 28.90]

In [ ]:
# Desafio: Como podemos fazer a média dos valores de Cobre?

tamanho = len(cu_ppm)
print(tamanho)

soma = sum(cu_ppm)
print(soma)

sum(cu_ppm) / len(cu_ppm)

10
1084.23

108.423

In [ ]:
#Caso queira os valores em ordem crescente, basta usar a função sorted()
sorted(cu_ppm)

[28.9, 38.21, 58.9, 69.65, 92.82, 136.55, 141.76, 160.1, 170.05, 187.29]

## 5. Tuplas

Tuplas são outro tipo de conjunto de dados. Todavia, não podem ser modificados, e estão inseridos dentro de parentesis.

In [ ]:
coord = (637790, 7756280, 613)

Temos um ponto de coordenada, e agora vamos designar os pontos X, Y e Z, para então comparar com outra localização, que será `poi = (637725, 7756411, 689)`.

In [ ]:
#transformando valores de uma tupla para valores únicos 
x, y, z = coord

print(x, y, z)

637790 7756280 613

In [ ]:
print(coord)

(637790, 7756280, 613)

In [ ]:
poi = (637725, 7756411, 689)
xp, yp, zp = poi

In [ ]:
#calculando a distância
dist = (( x - xp)**2 + (y - yp)**2 + (z - zp)**2)**(1/2)

print(f'A distância entre as coordenadas é de {dist:.2f} metros.')

A distância entre as coordenadas é de 164.81 metros.

## 6. Dicionários

Dicionários é a última coleção de dados modificáveis que veremos. Se caracterizam por estarem dentro de `{}`. São diferentes de todos que já temos pois possui uma estrutura de chave e valor.

Vamos ver como exemplo, uma amostra de água.

In [ ]:
hidroquim = {'Ca':45.46,
             'Mg': 28.1,
             'Na': 134,
             'K': 1.95,
             'F':2.95,
             'FeO': 0.64,
             'S': 252.7}

In [ ]:
hidroquim

{'Ca': 45.46,
 'Mg': 28.1,
 'Na': 134,
 'K': 1.95,
 'F': 2.95,
 'FeO': 0.64,
 'S': 252.7}

In [ ]:
#extraindo valor de uma chave
hidroquim['FeO']

0.64

In [ ]:
#também pode-se modificar o valor de uma chave
hidroquim['K'] = 2.89
print(hidroquim)

{'Ca': 45.46, 'Mg': 28.1, 'Na': 134, 'K': 2.89, 'F': 2.95, 'FeO': 0.64, 'S': 252.7}

In [ ]:
#criando uma nova chave
hidroquim['Mn'] = 28.1
print(hidroquim)

{'Ca': 45.46, 'Mg': 28.1, 'Na': 134, 'K': 2.89, 'F': 2.95, 'FeO': 0.64, 'S': 252.7, 'Mn': 28.1}

In [ ]:
#retornando apenas as chaves do dicionário
hidroquim.keys()

dict_keys(['Ca', 'Mg', 'Na', 'K', 'F', 'FeO', 'S', 'Mn'])

In [ ]:
#e agora, apenas os valores.
hidroquim.values()

dict_values([45.46, 28.1, 134, 2.89, 2.95, 0.64, 252.7, 28.1])

In [ ]:
hidroquim['FeO']= 0.64
hidroquim

{'Ca': 45.46,
 'Mg': 28.1,
 'Na': 134,
 'K': 2.89,
 'F': 2.95,
 'FeO': 0.64,
 'S': 252.7,
 'Mn': 28.1}

In [ ]:
#podemos também obter os dados em tuplas
hidroquim.items()

dict_items([('Ca', 45.46), ('Mg', 28.1), ('Na', 134), ('K', 2.89), ('F', 2.95), ('FeO', 0.64), ('S', 252.7), ('Mn', 28.1)])

In [ ]:
#porém, se quisermos transformar todas as chaves em uma lista, como fazer?
#DESAFIO
list(hidroquim.keys())

['Ca', 'Mg', 'Na', 'K', 'F', 'FeO', 'S', 'Mn']

## 7. Loops e Condicionais

  **Loops** são fundamentais para programação. Nos ajudam nas tarefas repetitivas e iterativas. Existem 2 tipos de loops:
  - Loops definidos: aqueles que realiza uma tarefa em cada elemento de um conjunto de informações
  - Loops indefinidos: loops que ficam ativos até que uma condição deixe de ser verdadeira. É usada como controlador de processos e funções.
    Tem algumas palavras reservadas como:
    - `while`
    - `continue`
    - `pass`
    - `break`


  Vamos criar um loop para printar todos os valores do dicionário recém criado.

In [ ]:
for key, value in hidroquim.items():
  print(f'Elemento {key} tem uma concentração de {value}. \n')

Elemento Ca tem uma concentração de 45.46.

Elemento Mg tem uma concentração de 28.1.

Elemento Na tem uma concentração de 134.

Elemento K tem uma concentração de 2.89.

Elemento F tem uma concentração de 2.95.

Elemento FeO tem uma concentração de 0.64.

Elemento S tem uma concentração de 252.7.

Elemento Mn tem uma concentração de 28.1.

In [ ]:
for i in TempoGeologico:
  print(i)

Hadeano
Arqueano
Proterozóico
Paleozóico
Mesozóico
Cenozóico

In [ ]:
rochas = ["granito", "andesito", "basalto", "sienita"]

while True:
    rocha = input("Insira o nome da rocha:")
    if rocha in rochas:
        break
    else:
        print("O nome inserido não pertence à lista. Tente novamente.")

print(f"Fim do loop. O nome da rocha é {rocha}")

Insira o nome da rocha:gnaisse
O nome inserido não pertence à lista. Tente novamente.
Insira o nome da rocha:granito
Fim do loop. O nome da rocha é granito

## 8. Criando uma função

Quando você cria um script muito longo, as vezes é necessário criar uma função como forma de deixar o código organizado, além de permitir a replicação em outros trabalhos.
Para criar uma função, é preciso começar com o termo `def`, seguido pelo nome, e então os valores de input.
Os principais termos são:
- `def`: define o nome da função
- `return` : retorna o resultado da função

In [ ]:
#criando a função
def geologia():
  print('O presente é a chave do passado.')

In [ ]:
geologia()

O presente é a chave do passado.

In [ ]:
def somar_simples(a):
  val = a + 4

  return val

In [ ]:
somar_simples(10)

14

In [ ]:
## exemplo dicionário

carDict = {
    "aquiferoGuarani" : {
      "marca": 'Ford',
      "modelo": 'Fusion',
      "eletrico" : False,
      "ano" : 2015,
      "cor" : ['vermelho', 'cinza','preto']    
    },

  "aquiferoPiranema":{
      "marca": 'Fiat',
      "modelo": 'Uno',
      "eletrico" : False,
      "ano" : 2018,
      "cor" :'preto'  
  },

  "aquiferoUrucuia":{
      "marca": 'Nissan',
      "modelo": 'Leaf',
      "eletrico" : True,
      "ano" : 2022,
      "cor" : 'white'  
  }
    
}

In [ ]:
carDict['carro_tres']['ano'] < carDict['carro_dois']['ano']

False